:root {
    --figmaGreen:#245D30
}
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: 'Montserrat', sans-serif;
}
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
.bold-green-button {
  background-color: var(--figmaGreen) ;
}
.abc {
  font-weight:700;
}
.hero {
  margin-top:50px;
  height:463px;
 
}
.bold-green {
  color: var(--figmaGreen);
}
.wrapper {
    width: 92% !important;
    height: fit-content !important;
    margin: auto !important;
}
.page1 {
    width: 100%;
    height: 500px;
    background-image: url(/images/picnicBackgroung.png);
    background-position: center;
    background-size: cover;
    padding-top: 180px;
    padding-left: 80px;
   
}
.text1 {
     font-size: 50px;
     color: white;
     font-weight: 800;
     
}
.text2 {
    font-size: 50px;
    font-weight: 700;
}
.hamburger {
    display: none !important;
    
}
.searchInp {
    display: none !important;
}
@media screen and (max-width: 660px) {
  .hamburger {
    display: inline-block !important;
  }
  .navbarList {
    display: none !important;
  
  }
  .navbarList a {
    display: none !important;
   
  }
  .navbarInput {
    display: none !important;
  }
  .searchInp {
    display: inline-block !important;
  }
  .inp2 {
    margin-bottom: 20px;
  }
}